In [1]:
import numpy as np
import pandas as pd
import requests

In [3]:
! pip install --quiet sodapy

In [4]:
from sodapy import Socrata

In [5]:
client = Socrata("data.cdc.gov", None)
results = client.get("9mfq-cb36", limit=20000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
df1 = pd.DataFrame.from_records(results)

In [7]:
df1

,submission_date,state,tot_cases,new_case,tot_death,new_death,created_at,consent_cases,consent_deaths,conf_cases,prob_cases,pnew_case,conf_death,prob_death,pnew_death
0,2020-01-22T00:00:00.000,CO,0,0,0,0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-24T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-26T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16555,2020-10-19T00:00:00.000,PW,0,0.0,0,0.0,2020-10-20T14:59:27.967,NaN,NaN,NaN,NaN,0,NaN,NaN,0
16556,2020-10-20T00:00:00.000,PW,0,0.0,0,0.0,2020-10-21T13:34:31.370,NaN,NaN,NaN,NaN,0,NaN,NaN,0
16557,2020-10-21T00:00:00.000,PW,0,0.0,0,0.0,2020-10-22T13:34:46.095,NaN,NaN,NaN,NaN,0,NaN,NaN,0
16558,2020-10-22T00:00:00.000,PW,0,0.0,0,0.0,2020-10-23T13:44:31.471,NaN,NaN,NaN,NaN,0,NaN,NaN,0
16559,2020-10-23T00:00:00.000,PW,0,0.0,0,0.0,2020-10-24T13:26:44.189,NaN,NaN,NaN,NaN,0,NaN,NaN,0

In [9]:
n=10000

In [10]:
results2 = client.get("vbim-akqf", limit=n)

In [11]:
df2 = pd.DataFrame.from_records(results2)
df2

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2020-03-22T00:00:00.000,2020-03-15T00:00:00.000,2020-03-11T00:00:00.000,Laboratory-confirmed case,Female,0 - 9 Years,"Multiple/Other, Non-Hispanic",Yes,Yes,No,Yes
1,2020-03-23T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Unknown,Unknown,Unknown,Unknown
2,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
3,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...
9995,2020-08-15T00:00:00.000,2020-08-13T00:00:00.000,2020-08-11T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",Unknown,Unknown,No,No
9996,2020-08-18T00:00:00.000,2020-08-13T00:00:00.000,NaN,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Missing,No,Yes
9997,2020-08-13T00:00:00.000,2020-08-13T00:00:00.000,NaN,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Unknown,No,Unknown
9998,2020-08-20T00:00:00.000,2020-08-13T00:00:00.000,2020-08-07T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",Missing,Missing,Missing,Unknown
9999,2020-08-24T00:00:00.000,2020-08-13T00:00:00.000,2020-08-07T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Missing,Missing,Missing