In [4]:
import numpy as np
import pandas as pd
import requests

In [5]:
! pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in /opt/conda/lib/python3.7/site-packages (from sodapy) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

In [6]:
import pandas as pd
from sodapy import Socrata

In [7]:
client = Socrata("data.cdc.gov", None)
results = client.get("9mfq-cb36", limit=20000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [12]:
df1 = pd.DataFrame.from_records(results)

In [13]:
df1

,submission_date,state,tot_cases,new_case,tot_death,new_death,created_at,consent_cases,consent_deaths,conf_cases,prob_cases,pnew_case,conf_death,prob_death,pnew_death
0,2020-01-22T00:00:00.000,CO,0,0,0,0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-24T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-26T00:00:00.000,CO,0,0.0,0,0.0,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020-07-31T00:00:00.000,SC,89016,1444.0,1712,45.0,2020-08-01T14:38:12.337,Agree,Agree,88523.0,493,38,1647.0,65,-2
996,2020-08-01T00:00:00.000,SC,90599,1583.0,1751,39.0,2020-08-02T14:54:37.126,Agree,Agree,90076.0,523,30,1683.0,68,3
997,2020-08-02T00:00:00.000,SC,91788,1189.0,1777,26.0,2020-08-03T14:31:01.928,Agree,Agree,91257.0,531,8,1709.0,68,0
998,2020-08-03T00:00:00.000,SC,92951,1163.0,1793,16.0,2020-08-04T14:09:35.859,Agree,Agree,92404.0,547,16,1721.0,72,4
999,2020-08-04T00:00:00.000,SC,94190,1239.0,1847,54.0,2020-08-05T14:13:18.333,Agree,Agree,93604.0,586,39,1774.0,73,1

In [16]:
?client.get

In [8]:
n=10000

In [9]:
results2 = client.get("vbim-akqf", limit=n)

In [10]:
df2 = pd.DataFrame.from_records(results2)
df2

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2020-03-22T00:00:00.000,2020-03-15T00:00:00.000,2020-03-11T00:00:00.000,Laboratory-confirmed case,Female,0 - 9 Years,"Multiple/Other, Non-Hispanic",Yes,Yes,No,Yes
1,2020-03-23T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Unknown,Unknown,Unknown,Unknown
2,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
3,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020-03-15T00:00:00.000,2020-03-15T00:00:00.000,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...
9995,2020-08-15T00:00:00.000,2020-08-13T00:00:00.000,2020-08-11T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",Unknown,Unknown,No,No
9996,2020-08-18T00:00:00.000,2020-08-13T00:00:00.000,NaN,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Missing,No,Yes
9997,2020-08-13T00:00:00.000,2020-08-13T00:00:00.000,NaN,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Unknown,No,Unknown
9998,2020-08-20T00:00:00.000,2020-08-13T00:00:00.000,2020-08-07T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",Missing,Missing,Missing,Unknown
9999,2020-08-24T00:00:00.000,2020-08-13T00:00:00.000,2020-08-07T00:00:00.000,Laboratory-confirmed case,Female,20 - 29 Years,"Asian, Non-Hispanic",No,Missing,Missing,Missing

'2020-09-15T00:00:00.000'