In [1]:
from sodapy import Socrata
import altair as alt
import numpy as np
import pandas as pd
import requests

In [2]:
client = Socrata("data.cdc.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results2 = client.get("vbim-akqf",limit=1500000)

In [4]:
df2 = pd.DataFrame.from_records(results2)\

In [5]:
df2 = df2.rename(columns={"race_ethnicity_combined": "race"})

In [12]:
import sqlite3

con = sqlite3.connect(':memory:')

In [13]:
df2.to_sql("individual", con, if_exists='append', index=True)

In [20]:
sql = """
WITH a as (
SELECT i.*, ROW_NUMBER() OVER (ORDER BY age_group) as seqnum
FROM individual i)
SELECT *
FROM a
WHERE seqnum % 20 = 1;
"""

In [23]:
s = pd.read_sql(sql, con)
s.groupby(["age_group"])["index"].count()

age_group
0 - 9 Years       9458
10 - 19 Years    20877
20 - 29 Years     8699
30 - 39 Years     7819
40 - 49 Years     5715
50 - 59 Years     6317
60 - 69 Years     2455
70 - 79 Years    12283
80+ Years          975
NA                   4
Unknown            398
Name: index, dtype: int64

In [ ]:
#s.to_csv("individual_new.csv")